body {
    color: #666 !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    height: 55px;
}

.navbar-fixed-top {
    height: 55px;
    border-width: 0 !important;
}

.navbar-fixed-top img {
    position: relative;
    top: -4px;
}

.uppercase {
    text-transform: uppercase;
}

.content {
    padding-top: 25px;
    margin: 25px auto;
}

.big-header {
    padding: 25px 0 0;
}

.proposal {
    margin: 0 auto;
    width: 500px;
}

.presentation {
    height: 550px;
    padding: 50px 0 25px;
    width: 100%;
    text-align: center;
    background-color: #e74c3c;
}

.presentation img {
    width: 100%;
    position: relative;
    top: -470px;
    margin: 0 auto;
    opacity: 0.60;
}

.presentation h2 {
    color: white;
    font-weight: 700;
}

.presentation h3 {
    margin: 0;
    font-size: 18px;
    color: white;
}

.presentation .text {
    color: #e74c3c;
    margin-top: 105px;
}

.presentation h4 {
    color: white;
}

.presentation .text h2 {
    text-shadow: 0.05em 0.05em 0.05em white;
    font-size: 65px;
    color: #e74c3c;
    font-weight: 700;
}

.presentation .text h3 {
    text-shadow: 0.05em 0.05em 0.05em white;
    color: #e74c3c;
    font-size: 25px;
    font-weight: 300;
}

.presentation a {
    margin-top: 45px;
    font-size: 23px;
}

.carousel-indicators .active {
    background-color: #e74c3c !important;
}

.carousel-indicators li {
    border-color: #e74c3c !important;
}

.carousel-control {
    color: #e74c3c !important;
}

.presentation-1 {
    background-image: url('../img/phpcasts-presentation-1.jpg');
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 7px;
}

.presentation-2 {
    background-image: url('../img/phpcasts-presentation-2.jpg');
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 7px;
}

.presentation-3 {
    background-image: url('../img/phpcasts-presentation-3.jpg');
    background-position-x: -77px;
    background-repeat: no-repeat;
    background-size: 115%;
    background-position-y: 7px;
}

.proposal h2 {
    color: #e74c3c;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.proposal button[type="submit"] {
    width: 100%;
    background-color: #e74c3c;
    border: 0;
    color: white;
    font-weight: 300;
}

.proposals .panel-heading {
    text-align: center;
    font-weight: 700 !important;
}

.proposals table thead, .proposals table tbody {
    text-align: left;
    vertical-align: middle !important;
}
