body {
    color: #666 !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.navbar-fixed-top {
    border-width: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}

.content {
    margin: 25px auto;
}

.big-header {
    padding: 25px 0 0;
}

.proposal {
    margin: 0 auto;
    width: 500px;
}

.presentation {
    padding: 50px 0 25px;
    width: 100%;
    text-align: center;
    background-color: #e74c3c;
}

.presentation p {
    width: 700px;
    margin: 0 auto;
    color: white;
}

.proposal h2 {
    color: #e74c3c;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.proposal button[type="submit"] {
    width: 100%;
    background-color: #e74c3c;
    border: 0;
    color: white;
    font-weight: 300;
}

.proposals .panel-heading {
    text-align: center;
    font-weight: 700 !important;
}

.proposals table thead, .proposals table tbody {
    text-align: left;
    vertical-align: middle !important;
}
