{% extends 'PHPCastsWebsiteBundle:Layout:base.html.twig' %}

{% block bigHeader %}
    <div class="presentation-about-us header-submit"></div>
{% endblock %}

{% block content %}
    {{ facebook_login_button({'autologoutlink': true}) }}

    <div class="bs-docs-section">
            <h1 id="The basic idea" class="page-header">{{ 'phpcasts.website.about.theBasicIdea'|trans }}</h1>

            <p class="lead">Created by <a href="http://about.me/drgomesp">Daniel Ribeiro</a>, <a href="http://phpcasts.org">phpcasts.org ©</a> is a clean and simple platform for submitting screencast proposals – basically ideas –, so that the community can vote on the relevance it would have for other people. As soon as the proposal gets a good feedback from the community, the publishers behind the idea record and publish the screencast for free.</p>

            <p>The real idea for this website is to become one of the most important platforms of PHP screencast-based content on the web.</p>
        </div>
{% endblock content %}