{% extends 'PHPCastsWebsiteBundle:Layout:base.html.twig' %}

{% block bigHeader %}
<div class="presentation">
    <img src="{{ asset('bundles/phpcastswebsite/img/phpcasts-logo-white.png') }}" width="250" alt="" />
    <p>
        {{ 'phpcasts.website.home.presentation.intro'|trans }}
    </p>
</div>
{% endblock %}

{% block content %}
<div class="about">
    About us! =D
</div>
{% endblock content %}