{% extends 'PHPCastsWebsiteBundle:Layout:base.html.twig' %}

{% block bigHeader %}
    <div class="presentation-about-us header-submit"></div>
{% endblock %}

{% block content %}
    <div class="about">
        <div class="col-md-7">

        </div>

        <div class="col-md-5">
            <img src="http://www.gravatar.com/avatar/548702460c758f6fdeba68025457b12f.png?s=150" alt="Daniel Ribeiro" class="img-circle pull-left">
            <p>I am a technical leader, PHP Senior Developer – PHP 5.3 Zend Certified Engineer –, speaker and evangelist from Brazil. I’m also a member of the local PHP community (PHPSC), and I’ve been working with software engineering since 2006.

            <p>My focus is on software engineering best practices, both concerning the code and the process of software development. I have a quite solid experience with agile practices and leading development teams to enterprise application standards and practices.</p>

            <p>Technically, I work with a lot of agile practices, such as pair-programming and Test-Driven Development (TDD). I also have a background on architecture patterns, such as Domain Driven Design (DDD) and Service Oriented Architecture (SOA). I love to work with high quality code, especially concerning advanced software engineering concepts, such as the S.O.L.I.D. principles and the GoF design patterns.</p>
        </div>
    </div>
{% endblock content %}